<!-- templates/success.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Login Successful</title>
</head>

<body>
    <div class="container">
        <h2>Add New Customer</h2>
        <!-- Form for entering customer details -->
        <form action="{{ url_for('add_customer') }}" method="post" style="padding-right: 20px;">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required><br><br>
            <label for="mobile_number">Mobile Number:</label>
            <input type="text" id="mobile_number" name="mobile_number" required><br><br>
            <label for="address">Address:</label>
            <input type="text" id="address" name="address" required><br><br>
            <label for="customer_type">Customer Type:</label>
            <input type="text" id="customer_type" name="customer_type" required><br><br>
            <label for="customer_id_proof">Customer ID Proof:</label>
            <input type="text" id="customer_id_proof" name="customer_id_proof" required><br><br>
            <!-- Add more input fields for additional customer details as needed -->

            <button type="submit">Add Customer</button>
        </form>
    </div>
</body>

</html>