<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Broadband Billing System - Home</title>
</head>
<body>
    <h1>Welcome to the Broadband Billing System</h1>
    <p>This is the home page.</p>
    <nav>
        <ul>
            <li><a href="/add_customer">Add New Customer</a></li>
            <li><a href="/add_subscription">Add New Subscription Plan</a></li>
            <li><a href="/billing">Generate New Bills</a></li>
            <li><a href="/pay_bill">Pay a Bill</a></li>
            <li><a href="/customer_details">Customers List</a></li>
            <li><a href="/subscription_details">Subscription Plans List</a></li>
            <li><a href="/bills_details">Generated Bills List</a></li>
            <li><a href="/transaction_details">Payment Transaction List</a></li>
            

        </ul>
    </nav>
</body>
</html>
